@charset "utf-8";
div,html,body,a,ul,li,p,b,i{
	margin:0;padding:0;
}

.div_ab{ position:relative;}
.div_a{
width:100px;
height:20px;
background-color:red;
float:left;
}
.div_b{
 position:absolute;
 left:100px;
 right:0;
 background-color:#000;
 color:#fff;
 text-align:center;
}

.div_c{
width:100%;
height:20px;
background-color:yellow;
clear:both;
}

.div_d{
width:100px;
height:20px;
background-color:#75D975;
float:left;
}

.div_e{
margin-left:100px;
margin-top:-20px;
width:100%;
height:20px;
background-color:#305E73;
float:left;
}

.div_f{
width:100%;
height:20px;
background-color:#22CEF7;
clear:both;
}


.div_1{
	width:100px;
	height:50px;
	float:left;
	background-color:#568;
}

.div_2{
	height:50px;
	background-color:#CCC;
	
}