@charset "utf-8";

#flaot_container{
	background-color:red;
	height:100%;
	width:100%;
}
.clearfix:after{clear:both;content:"\0020";display:block;height:0; font-size:0px;visibility:hidden;}

.flaot-element{
	float:left;
	width:100px;
	height:30px;
	background-color:blue;
	margin:10px;
	
}